.create-edit-post {
    margin-top: 2rem;
  
    h2 {
      color: $primary-color;
      margin-bottom: 1.5rem;
    }
  
    .sun-editor {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }
  }